.about-container {
    background-color: #EDF9FC;
    justify-items: center;
    padding-bottom: 20%;
    text-align: center;
}

.about-container img{
    margin-top: 100px;
    max-width:50%;
}


.about-text{
    margin-top: 50px;
    max-width: 500px;
    font-size: 24px;
    font-weight: bold;
}

.form-container {
    width: 90%;
    background-color: #004A7C;
    padding: 40px;
    border-radius: 10px;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ajuste en inputs y textarea para mejor tamaño */
.form-input, 
.form-textarea {
    padding: 18px; /* Inputs más cómodos */
    font-size: 18px; /* Texto más grande */
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Botón con tamaño mejorado */
.form-button {
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

/* Mejor espaciado entre elementos */
.message-form {
    margin-top: 15px;
}
.contenedorForm{
 max-width: 90%;
}