.custom-navbar {
  background-color: #004a7c;
}

.custom-footer {
  background-color: #004a7c;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 60px; 
}

.signup-container {
  background-color: #004a7c;
  width: 80%;
  max-width: 900px;
  height: 500px;
  border-radius: 1rem;
}

.signup-image {
  flex: 1;
}

.signup-form {
  flex: 3;
  border-radius: 0 1rem 1rem 0;
}