.scroll-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 40px auto;
  display: flex;
  align-items: center;
}

.service-grid-container {
  overflow-x: auto;
  scroll-behavior: smooth;
  display: flex;
  gap: 10px;
  padding: 10px 0;
  scrollbar-width: none;
}

.service-grid-container::-webkit-scrollbar {
  display: none;
}

.scroll-btn {
  background-color: #004a7c;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  width: 40px;
  height: 180px;
  z-index: 10;
  transition: background 0.2s ease;
  border-radius: 6px;
}

.scroll-btn:hover {
  background-color: #003355;
}

.scroll-btn.left {
  margin-right: 10px;
}

.scroll-btn.right {
  margin-left: 10px;
}

/* Tarjeta de servicio */
.service-card {
  flex: 0 0 auto;
  width: 280px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #004A7C;
}


.service-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  color:white;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.learn-btn, .star-btn {
  padding: 5px 8px;
  font-size: 0.8rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.learn-btn {
  background-color: #004a7c;
  color: white;
}

.star-btn {
  background-color: transparent;
  font-size: 1rem;
}


.service-img-container {
  overflow: hidden;
  border-radius: 15px;
}

.service-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.service-card img {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Este cambio permite que el borde redondeado se vea mejor */
  border-radius: 8px;
}


.published{

  justify-items: center;
  margin-bottom: 50px;

}


.card{
  width: 50%;
}


.search_filter{
  width: 50%;

}


.published_cards{
    justify-items: center;
}


.how_works{
  background-color: black;
}



.card_how_works{
   width: 18rem;
   
}



.custom-icon {
  width: 64px;
  height: 64px;
  color: #004a7c;
  transition: color 0.3s ease-in-out;
}

.custom-icon:hover {
  color: #023353;
}

.card_how_works {
  display: flex;
  width: 18rem;
  height: 18rem;
  min-height: 18rem; /* Evita que las tarjetas sean más pequeñas */

}
.div card-body{
  padding: 15px;
}



.published_cards .custom-text {
  position: absolute; /* Lo posiciona dentro de la tarjeta */
  bottom: 80px; /* Lo acerca más a la parte inferior */
  right: 150px; /* Lo alinea a la derecha */
  font-weight: bold;
  color: #004a7c; /* Color personalizado */
}


.full-width-bg {
  background-color: #EDF9FC; /* Azul */
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  padding: 40px 0; /* Espaciado superior e inferior */
}

.content-wrapper {
  max-width: 900px; /* Limita el ancho de los elementos */
  margin: 0 auto; /* Centra el contenido */
}