.profileCustom{
    min-height: 300px; /* Se ajustará si necesita más espacio */
    background-color: #005691;
    border-radius: 10px;
    padding: 20px; /* Añadir un poco de margen interno */
}


.userIcon{
    color: white;
    text-align: center;

}


.userName{
    color: white;
    font-weight: bold;
    font-size: 32px;
}


.customButton{
  font-weight: bolder;
  background-color:white ; /* Color personalizado */
  color: #005691; /* Color del texto */
  border: none; /* Elimina el borde predeterminado */
  padding: 10px 20px;
  border-radius: 5px; /* Bordes redondeados */
}

.customButton:hover {
  background-color: #EDF9FC; /* Color más oscuro al hacer hover */
}

.customButton {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra ligera */
}


/* Input cuando está deshabilitado (no editable) */
input.form-control:disabled {
  background-color: #003366; /* Azul más oscuro */
  color: white; /* Para que el texto contraste */
  border: 1px solid #002244; /* Un borde oscuro también */
  opacity: 1; /* Para que no se vea opaco, ya que disabled reduce opacidad por defecto */
  cursor: default; /* Mostrar cursor por defecto */
}
